@{
    ViewBag.Title = "Listado";
}

@model IEnumerable<Tarea2._5.Models.Producto>
<h2>Index</h2>


<div class="row">
    <table>
        <tr>
            <th>
                ID
            </th>
            <th></th>
            <th>
                Descripcion
            </th>
            <th></th>
            <th>
                Precio
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <th></th>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <th></th>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <th></th>
                
            </tr>
        }
    </table>
</div>
